gradio
requests
python-dotenv
pdfplumber
python-docx
textract==1.6.3

--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

typing-extensions==4.12.2
numpy==2.2.1

torch==2.7.1+cu118
torchvision==0.22.1+cu118
torchaudio==2.7.1+cu118

kornia>=0.6.0
Pillow>=8.0.0
python-Levenshtein>=0.12.0
jiwer>=2.3.0
tensorboard>=2.4.0
matplotlib>=3.3.0

tqdm

# для распознавания речи
git+https://github.com/openai/whisper.git
soundfile
gradio

soundfile
omegaconf